---

---

<section class="jumbotron bg-danger text-white radius-0 mb-0">
    <h1 class="display-1 text-chicle text-light ">Baby Safe Travel</h1>
    <p class="lead text-light">Learn everything you need to know about vacationing with a young family!</p>
</section>

<style>
    h1,p {
      text-align: center;
      margin: auto;
    }
</style>
