img {
  max-width: 100%;
  height: auto;
}
a {
  color: #f13e5a;
}
a:hover {
  color: #ee1a3c;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 0;
}
dl, ul, ol {
  margin-top: 1rem;
}
.btn-outline-danger {
  border-width: 2px;
  font-size: 12px;
  text-transform: uppercase;
}
.btn-danger {
  font-size: 14px;
}
time {
  color: darkgrey;
  font-weight: 300;
  font-size: 14px;
}
